<div class="hero top-0 min-h-screen">
  <div class="hero top-0 min-h-screen">
    <video autoplay muted loop id="background-video" class="relative top-0 left-0 w-full h-full object-cover z-0">
      <source src="../../../assets/video-landing.webm" type="video/mp4">
    </video>
      <div class="hero-content flex-col lg:flex-row">
        <img src="https://images.unsplash.com/photo-1634322259580-4441b0dd5f81?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="h-auto max-w-sm rounded-lg shadow-2xl" />
        <div class="ml-40">
          <h1 class="text-5xl font-bold">Hello World!</h1>
          <p class="py-6">Hi! Im Lorem Ipsum</p>
          <button class="btn btn-primary">Get to know me</button>
        </div>
      </div>
   </div>
</div>